################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/website-jeff/config
/.vs/website-jeff/FileContentIndex
/.vs/website-jeff/v17
/.vs
